[submodule "client/css/bootstrap"]
	path = client/css/bootstrap
	url = https://github.com/twbs/bootstrap
[submodule "client/css/font-awesome"]
	path = client/css/font-awesome
	url = https://github.com/FortAwesome/Font-Awesome/
[submodule "client/css/bulma"]
	path = client/css/bulma
	url = https://github.com/jgthms/bulma.git
