Options +FollowSymLinks
RewriteEngine On
RewriteBase /Rendsmoimatune/
RewriteRule    ^sign-in.html$                   sign-in.php [L]
RewriteRule    ^sign-out.html$                  sign-out.php [L]
RewriteRule    ^new-account.html$               new-account.php [L]

# Dashboard
RewriteRule    ^dashboard/$                     index.php  [L]

# Events
RewriteRule    ^events/$                        events/index.php  [L]
RewriteRule    ^events/create-new-event.html    events/create-new-event.php [L]
RewriteRule    ^events/[a-z-]*-([0-9]?)/        events/event.php?id=$1 [L]

# My Account
RewriteRule    ^my-account/$                    my-account/index.php  [L]
