RewriteEngine On
RewriteBase /dev

RewriteRule    ^sign-in.html$                                                                   sign-in.php [L]
RewriteRule    ^sign-out.html$                                                                  sign-out.php [L]
RewriteRule    ^new-account.html$                                                               new-account.php [L]
RewriteRule    ^new-account-invitation.html$                                                    new-account-invitation.php [L]

# Authentication
RewriteRule    ^authentication/facebook.html$                                                   authentication/facebook.php [L]

# Dashboard
RewriteRule    ^dashboard/$                                                                     index.php  [L]

# my-accounts
RewriteRule    ^my-accounts/$                                                                   my-accounts/index.php  [L]
RewriteRule    ^my-accounts/create-new-account.html$                                            my-accounts/create-new-account.php [L]
RewriteRule    ^my-accounts/[a-z0-9-]*-([0-9]+)/$                                               my-accounts/account.php?id=$1 [L]
RewriteRule    ^my-accounts/[a-z0-9-]*-([0-9]+)/cash-up.html$                                   my-accounts/cash-up.php?account-id=$1 [L]
RewriteRule    ^my-accounts/[a-z0-9-]*-([0-9]+)/delete.html$                                    my-accounts/delete.php?account-id=$1 [L]
RewriteRule    ^my-accounts/[a-z0-9-]*-([0-9]+)/rename.html$                                    my-accounts/rename.php?account-id=$1 [L]

# Expenditure
RewriteRule    ^my-accounts/[a-z0-9-]*-([0-9]+)/expenditures-list.html$                         my-accounts/expenditures-list.php?account-id=$1 [L]
RewriteRule    ^my-accounts/[a-z0-9-]*-([0-9]+)/create-new-expenditure.html$                    my-accounts/create-new-expenditure.php?account-id=$1 [L]
RewriteRule    ^my-accounts/[a-z0-9-]*-([0-9]+)/expenditure/view-[a-z0-9-]*-([0-9]+).html$      my-accounts/view-expenditure.php?account-id=$1&expenditure-id=$2 [L]
RewriteRule    ^my-accounts/[a-z0-9-]*-([0-9]+)/expenditure/edit-[a-z0-9-]*-([0-9]+).html$      my-accounts/edit-expenditure.php?account-id=$1&expenditure-id=$2 [L]
RewriteRule    ^my-accounts/[a-z0-9-]*-([0-9]+)/expenditure/delete-[a-z0-9-]*-([0-9]+).html$    my-accounts/delete-expenditure.php?account-id=$1&expenditure-id=$2 [L]

# Repayment
RewriteRule    ^my-accounts/[a-z0-9-]*-([0-9]+)/repayments-list.html$                           my-accounts/repayments-list.php?account-id=$1 [L]
RewriteRule    ^my-accounts/[a-z0-9-]*-([0-9]+)/create-new-repayment.html$                      my-accounts/create-new-repayment.php?account-id=$1 [L]


# My Account
RewriteRule    ^my-parameters/$                                                                 my-parameters/index.php  [L]
RewriteRule    ^my-parameters/manage-users.html$                                                my-parameters/manageUsers.php [L]
RewriteRule    ^my-parameters/merge-user-([0-9]+)-with-([0-9]+).html$                           my-parameters/mergeUsers.php?id1=$1&id2=$2 [L]
RewriteRule    ^my-parameters/send-invitation.html$                                             my-parameters/send-invitation.php [L]
