@charset 'utf-8';

@import "font-awesome/scss/font-awesome";
@import "bulma/bulma";

$rmmt-blue: #5494af;
$rmmt-red: #c66653;
$rmmt-white: #ffffff;
$font-family-base: 'Roboto';

@font-face {
	font-family: alfphabet;
	src: url(fonts/Alfphabet-IV.ttf);
}

.navbar {
	background-color: $rmmt-blue;

}

.navbar-brand {
	.navbar-item {
		font-family: alfphabet;
		font-size: 1rem;
		margin: 0;
		color: $rmmt-white;
		text-transform: uppercase;
		small {
			color: $rmmt-red;
		}
	}
}

.title {
	margin-top: 1em;
	color: $rmmt-blue;
}

.subtitle {
	color: $rmmt-blue;
	a {
		color: $rmmt-blue;
	}
}
