[logger]
level = "DEBUG" 
;level = "INFO" 
;level = "WARN" 
;level = "ERROR" 
;level = "FATAL" 

[sgbd]
;driver = "pdo_mysql"
;driver = "pdo_sqlite"
driver = "pdo_pgsql"
;driver = "pdo_oci"
;driver = "pdo_mssql"
;driver = "oci8"
host = "localhost"
user_name = ""
password = ""
database_name = ""
hash = SHA256
;hash = Blowfish
;hash = MD5

[doctrine]
version = "2.0.0-BETA1"
proxy_dir = "proxy/"
; do not start with \
proxy_namespace = "Bdf\Model\Proxy"
mapping_dir = "mapping/"
; Comment this line if you don't want to use apc for caching sql queries and doctrine entities
;cache = "apc"

[templates]
;engine = "smarty"
;version = "3.0-RC1"
engine = "simpleTemplatesEngine"

[site]
url = ""
image_dir = "px/"
style_dir = "style/"
javascript_dir = "js/"
templates_dir = "templates/"
skin = "default"
; do not start with \
namespace = "" 

