<div class="row">
	<div class="small-12 columns">
		<h2><a ui-sref="account">{{ account.name }}</a></h2>
	</div>
</div>
<div ui-view="">
	<div class="row" ng-if="account.users.length > 0">
		<div class="small-12 columns">
			<h3 ng-if="account.balance.length > 0">Balance</h3>
			<h3 ng-if="account.balance.length == 0">Utilisateurs</h3>
			<div class="balance">
				<div class="row text-center" ng-repeat="user in account.users">
					<div class="small-5 columns">
						<div class="debt" ng-if="user.balance < 0" style="width: {{ -user.balance/account.max_debt*100 }}%">
							{{ user.balance | amount }}
						</div>
					</div>
					<div ng-class="{'small-offset-5': user.balance >= 0}" class="small-2 columns">
						{{ user.name }}
					</div>
					<div class="small-5 columns">
						<div class="credit" ng-if="user.balance > 0" style="width: {{ user.balance/account.max_debt*100 }}%">
							{{ user.balance | amount }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<form ng-submit="add_user()">
			<div class="small-12 columns">
				<h4>Nouveau participant</h4>
				<div class="input-group">
					<input type="text" class="input-group-field" ng-model="account.new_user" required />
					<a class="input-group-button button fa fa-plus-circle">Ajouter</a>
				</div>
			</div>
		</form>
	</div>
	<div class="row" ng-if="account.users.length > 0">
		<div class="small-12 columns">
			<h3>Équilibrage</h3>
			<table ng-if="account.balance.length > 0">
				<thead>
					<tr>
						<th>De</th>
						<th></th>
						<th>Montant</th>
						<th></th>
						<th>À</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="repayment in account.balance | orderBy: name">
						<td>{{ repayment.from }}</td>
						<td>doit</td>
						<td>{{ repayment.amount | amount }}</td>
						<td>à</td>
						<td>{{ repayment.to }}</td>
						<td><a ui-sref="add-repayment({from: repayment.from, to: repayment.to, amount: repayment.amount})" class="fa fa-plus-circle button">Ajouter</a></td>
					</tr>
				</tbody>
			</table>
			<p ng-if="account.balance.length == 0">
				Rien à faire, vous êtes à l'équilibre !
			</p>
		</div>
	</div>
	<div class="row" ng-if="account.users.length > 0">
		<div class="small-12 columns">
			<h3><a ui-sref="account.expenditures">Dépenses</a></h3>
			<expenditures limit="5" src="account.expenditures"></expenditures>
			<a ng-if="account.expenditures.length > 5" ui-sref="account.expenditures">Et {{ account.expenditures.length - 5 }} <span ng-if="account.expenditures.length > 6">autres…</span><span ng-if="account.expenditures.length == 6">autre.</span></a>
			<a class="button float-right fa fa-plus-circle" ui-sref="account.add-expenditure">Nouvelle dépense</a>
		</div>
	</div>
	<div class="row" ng-if="account.users.length > 0">
		<div class="small-12 columns">
			<h3><a ui-sref="account.repayments">Remboursements</a></h3>
			<repayments limit="5" src="account.repayments"></repayments>
			<a ng-if="account.repayments.length > 5" ui-sref="account.repayments">Et {{ account.repayments.length - 5 }} <span ng-if="account.repayments.length > 6">autres…</span><span ng-if="account.repayments.length == 6">autre.</span></a>
			<a class="button float-right fa fa-plus-circle" ui-sref="account.add-repayment">Nouveau remboursement</a>
		</div>
	</div>
</div>
