<div class="row">
	<div class="small-12 columns">
		<h3>Dépenses</h3>
		<table>
			<thead>
				<tr>
					<th>Date</th>
					<th>Nom</th>
					<th>Montant</th>
					<th>Payeur</th>
					<th>Participants</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="expenditure in account.expenditures | orderBy: date:true">
					<td>{{ expenditure.date }}</td>
					<td>{{ expenditure.name }}</td>
					<td>{{ expenditure.amount | amount }}</td>
					<td>{{ expenditure.payer }}</td>
					<td ng-if="(expenditure.debts | filter:{'share': 0}:true).length > account.users.length / 2">
						<span ng-repeat="debt in expenditure.debts | filter:{'share': '!0'}">
							{{ debt.debtor }}{{$last?'':', '}}
						</span>
					</td>
					<td ng-if="(expenditure.debts | filter:{'share': 0}:true).length <= account.users.length / 2">
						Tous
						<span ng-if="(expenditure.debts | filter:{'share': 0}:true).length > 0">
							sauf
						</span>
						<span ng-repeat="debt in expenditure.debts | filter:{'share': 0}:false">
							{{ debt.debtor }}{{$last?'':', '}}
						</span>
					</td>
				</tr>
			</tbody>
		</table>
		<a class="button" ui-sref="account.add-expenditure">Nouvelle dépense</a>
	</div>
</div>
