<div class="row">
	<div class="small-12 columns">
		<form ng-submit="add_expenditure()">
			<div class="row">
				<div class="small-12 columns">
					<label>Nom
						<input type="text" ng-model="name" required />
					</label>
				</div>
			</div>
			<div class="row">
				<div class="small-6 columns">
					<label>Montant
						<div class="input-group">
							<input type="text" ng-model="amount" pattern="[0-9]+([.,][0-9]*)?" class="input-group-field" required />
							<span class="input-group-label">€</span>
						</div>
					</label>
					<p class="help-text">Montant en euro. Exemple: 12,5</p>
				</div>
				<div class="small-6 columns">
					<label>Date
						<input type="text" ng-model="date" datepicker format="yyyy-mm-dd" language="fr" required />
					</label>
				</div>
			</div>
			<div class="row">
				<div class="small-6 columns">
					<label>Payeur
						<select ng-model="payer">
							<option ng-repeat="user in account.users" value="{{ user.name }}">{{ user.name }}</option>
						</select>
					</label>
				</div>
				<fieldset class="small-6 columns">
					<legend>Participants</legend>
					<label ng-repeat="user in account.users"><input type="checkbox" ng-model="debtors[user.name]">{{ user.name }}</label>
				</fieldset>
			</div>
			<div class="row">
				<div class="small-12 columns">
					<input type="submit" value="Ajouter" class="button" />
				</div>
		</form>
	</div>
</div>
