<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Rendsmoimatune</title>
		<link rel="stylesheet" href="css/main.css">
	</head>
	<body>
		<my-app>Loading...</my-app>
		<div class="row">
			<div class="large-12 columns">
				<h1>Welcome to Rendsmoimatune</h1>
			</div>
		</div>

		<script src="js/jquery.min.js"></script>
		<script src="js/foundation.min.js"></script>
		<script src="js/angular.min.js"></script>
		<script src="js/app.min.js"></script>
	</body>
</html>
