<div class="row">
	<div class="small-12 columns">
		<form ng-submit="save_repayment()">
			<div class="row">
				<div class="small-6 columns">
					<label>Montant
						<div class="input-group">
							<input type="text" amount ng-model="repayment.amount" pattern="[0-9]+([.,][0-9]*)?" class="input-group-field" required />
							<span class="input-group-label">€</span>
						</div>
					</label>
					<p class="help-text">Montant en euro. Exemple: 12,5</p>
				</div>
				<div class="small-6 columns">
					<label>Date
						<input type="text" ng-model="repayment.date" datepicker format="yyyy-mm-dd" language="fr" required />
					</label>
				</div>
			</div>
			<div class="row">
				<div class="small-6 columns">
					<label>Payeur
						<select ng-model="repayment.payer">
							<option ng-repeat="user in account.users" value="{{ user.name }}">{{ user.name }}</option>
						</select>
					</label>
				</div>
				<div class="small-6 columns">
					<label>Bénéficiaire
						<select ng-model="repayment.beneficiary">
							<option ng-repeat="user in account.users" value="{{ user.name }}">{{ user.name }}</option>
						</select>
					</label>
				</div>
			</div>
			<div class="row">
				<div class="small-12 columns">
					<input type="submit" value="Ajouter" class="button fa fa-plus-circle" />
				</div>
		</form>
	</div>
</div>
