@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';
@import 'foundation-datepicker.scss';
@import 'font-awesome';

@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-menu;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;

@include motion-ui-transitions;
@include motion-ui-animations;

@font-face {
	font-family: alfphabet;
	src: url(../fonts/Alfphabet-IV.ttf);
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/OpenSans-Regular.ttf);
}

.top-bar-title h1 {
	font-family: alfphabet;
	font-size: 1rem;
	margin: 0;
	color: $white;
}

.top-bar-title h1 > a {
	color: $white;
}

.top-bar-title h1 > small {
	color: $rmmt-red;
}

.balance .column {
	padding: 0;
}

.balance > div:nth-child(even) {
	background-color: $table-striped-background;
}

.debt, .credit {
	border-radius: 2px;
	border: 1px, black;
	color: $white;
	margin: 0;
	font-weight: bold;
	padding: 0.2em;
	min-width: -moz-min-content;
	min-width: -webkit-min-content;
}

.debt, .debt > div {
	background: $alert-color;
	float: right;
}

.credit, .credit > div {
	background: $success-color;
}

input:invalid {
	border-color: $alert-color;
}

.button.fa:before {
	margin-right: 1em;
}

td .button {
	margin-bottom: 0;
}

a.edit:hover:before {
	@extend .#{$fa-css-prefix};
	content: $fa-var-pencil-square-o;
}

a.edit:hover {
	margin-left: 0;
}

a.edit {
	margin-left: 1em;
}

td .switch, td input[type="number"], th .switch {
	margin-bottom: 0;
}

.cover {
	width: 100%;
	margin: 0;
	padding: 10em 0;
	background: url(../px/7153621661_2c0e057402_o_blurred.jpg) no-repeat center fixed;
	background-size: cover;
	color: white;
}

.cover > .row {
	background: rgba(27, 27, 27, 0.75) none repeat scroll 0 0;
}

h3 {
	margin-top: 2em;
	margin-bottom: 1em;
	border-bottom: 3px solid $primary-color;
	color: $primary-color;
}

div.balance {
	padding: 0.5em;
}
