/**
 * Debug mode
 **/

#console-log {
  position: absolute;
  right: 0px;
  top: 0px;
  padding-right: 0.5em;
}

#console-menu, #console-content, #console-log-menu {
  width: 100%;
  float: right;
}

#console-content { 
  background-color: rgba(255,255,255,0.95);
  overflow: auto;
}

#console-menu ul, #console-log-menu ul {
  background-color: rgba(255,255,255,0.95);
  float: right;
}

span.log-title {
  float: left;
  cursor: pointer;
}

span.backtrace-link {
  float: right;
  cursor: pointer;
}

div.log-content, div.backtrace {
  clear: both;
}

#console-log-content {
  clear: both;
}

#console-menu ul li, #console-log-menu ul li {
  display: inline;
  float: left;
  list-style-type:none;
  padding: 0.1em;
  cursor: pointer;
}

#console-log-menu li.selected {
  background-color: black;
  color: white;
}

li.log {
  display:block;
  clear: both;
  width: 100%;
}

.hidden {
  display:none;
}
