.msg {padding:10px; padding-left:35px; margin: 10px 0px;}
.msg.warning {background:url("../../px/default/snowish/24x24/status/dialog-warning.png") 10px 50% no-repeat; border:2px solid #F2DD8C; background-color:#FFF5CC;}
.msg.warning a {color:#df0000;} .msg.warning a:hover, .msg.warning a:active, .msg.warning a:focus {color:#303030;}
.msg.info {background:url("../../px/default/snowish/24x24/status/dialog-info.png") 10px 50% no-repeat; border:2px solid #B8E2FB; background-color:#E8F6FF;}
.msg.done {background:url("../../px/default/snowish/24x24/actions/gtk-apply.png") 10px 50% no-repeat; border:2px solid #BBDF8D; background-color:#EAF7D9;}
.msg.error {background:url("../../px/default/snowish/24x24/status/dialog-error.png") 10px 50% no-repeat; border:2px solid #FFAEAE; background-color:#FEEBEB;}

#main label.float-left {
    float:left;
    line-height:25px;
    margin-right:10px;
    width: auto;
}

#main span.payers, #main span.beneficiaries {
    font-size: 75%;
    color: grey;
}

#main span.payers:hover, #main span.beneficiaries:hover {
    color: black;
}

#main p.inline-label {
    margin: 0px;
}

#main label.medium-inline {
    width: 124px;
    float: left;
    margin: 0 10px 0 0;
    padding: 5px 7px;
}

#main div#clonable-payer, #main div#clonable-beneficiary {
    display: none;
}

#main #add-new-payer, #main #add-new-beneficiary {
    display: block;
    width: 24px;
    height: 24px;
    background: url("../../px/default/snowish/24x24/actions/gtk-add.png") transparent no-repeat center center;
}

#main .remove-payer, #main .remove-beneficiary {
    display: block;
    width: 24px;
    height: 24px;
    background: url("../../px/default/snowish/24x24/actions/stock_stop.png") transparent no-repeat center center;
    float: left;
}

#main .button {
    display: block;
    float: right;
    color: #5494AF;
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
    height: 24px;
    text-decoration: none;
}

#main .button:hover {
    text-decoration: underline;
}

#main .button.add {
    padding-left: 24px;
    background: url("../../px/default/snowish/24x24/actions/gtk-add.png") transparent no-repeat center left;
}

#main fieldset div.subfieldset {
    border-left: 3px solid #DDDDDD;
    float: left;
    margin-bottom: 14px;
    margin-top: -14px;
    padding-left: 10px;
    width: 100%;
}

/** Balance */
#main div.balance-due, #main div.balance-name, #main div.balance-payed, #main div.balance-bar {
    height: 2em;
}

#main div.balance-due, #main div.balance-payed {
    width: 40%;
}

#main div.balance-amount, #main div.balance-name {
    line-height: 2em;
}

#main div.balance-bar, #main h4.balance-payed, #main h4.balance-due {
  -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  line-height: 2em;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  text-align: center;
  overflow: visible;
}

#main div.balance-due {
    float: left;
}

#main div.balance-due div.balance-bar, #main h4.balance-due {
    background-color: #FF1B00;
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, rgb(255,98,65)),
        color-stop(1, rgb(255,28,0))
    );
    background: -moz-linear-gradient(
        center top,
        rgb(255,98,65) 0%,
        rgb(255,28,0) 100%
    );
    float: right;
}

#main div.balance-due div.balance-amount {
    float: right;
}

#main div.balance-name {
    width: 20%;
    margin: auto;
    margin-bottom: 0.5em;
    text-align: center;
}

#main div.balance-payed {
    float: right;
}

#main div.balance-payed div.balance-bar, #main h4.balance-payed {
    background-color: #00A400;
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, rgb(0,208,0)),
        color-stop(1, rgb(0,165,0))
    );
    background: -moz-linear-gradient(
        center top,
        rgb(0,208,0) 0%,
        rgb(0,165,0) 100%
    );
    float: left;
}

#main div.balance-payed div.balance-amount {
    float: left;
}

#main h4.balance-payed, #main h4.balance-due {
    width: 40%;
    display: block;
    margin-bottom: 1em;
}

#main h4.balance-payed {
    float: right;
}

#main h4.balance-due {
    float: left;
}

div.clear {
    clear: both;
}

#full-main div.site-presentation {
	/* border: 1px solid #ddd; */
    margin: 1em;
    font-size: 120%;
    min-height: 200px;
}

#full-main div.site-presentation.img-right p {
    border-right: 3px solid #ddd;
    margin-right: 200px;
    padding: 0.5em;
}

#full-main div.site-presentation.img-left p {
    border-left: 3px solid #ddd;
    margin-left: 200px;
    padding: 0.5em;
}

#full-main div.site-presentation.img-right img {
    float: right;
}

#full-main div.site-presentation.img-left img {
    float: left;
}

