.msg {padding:10px; padding-left:35px; margin: 10px 0px;}
.msg.warning {background:url("../../px/default/snowish/24x24/status/dialog-warning.png") 10px 50% no-repeat; border:1px solid #F2DD8C; background-color:#FFF5CC;}
.msg.warning a {color:#df0000;} .msg.warning a:hover, .msg.warning a:active, .msg.warning a:focus {color:#303030;}
.msg.info {background:url("../../px/default/snowish/24x24/status/dialog-info.png") 10px 50% no-repeat; border:1px solid #B8E2FB; background-color:#E8F6FF;}
.msg.done {background:url("../../px/default/snowish/24x24/actions/gtk-apply.png") 10px 50% no-repeat; border:1px solid #BBDF8D; background-color:#EAF7D9;}
.msg.error {background:url("../../px/default/snowish/24x24/status/dialog-error.png") 10px 50% no-repeat; border:1px solid #FF0000; background-color:#FEEBEB;}

.money {
    text-align: right;
    display: block;
    width: 100%;
}

#main label.float-left {
    float:left;
    line-height:25px;
    margin-right:10px;
    width: auto;
}

#main span.payers, #main span.beneficiaries {
    font-size: 75%;
    color: grey;
    line-height: normal;
}

#main span.payers:hover, #main span.beneficiaries:hover {
    color: black;
}

#main p.inline-label {
    margin: 0px;
}

#main label.medium-inline {
    width: 124px;
    float: left;
    margin: 0 10px 0 0;
    padding: 5px 7px;
}

#main div#clonable-payer, #main div#clonable-beneficiary {
    display: none;
}

#main #add-new-payer, #main #add-new-beneficiary {
    display: block;
    width: 24px;
    height: 24px;
    background: url("../../px/default/snowish/24x24/actions/gtk-add.png") transparent no-repeat center center;
}

#main .remove-payer, #main .remove-beneficiary {
    display: block;
    width: 24px;
    height: 24px;
    background: url("../../px/default/snowish/24x24/actions/stock_stop.png") transparent no-repeat center center;
    float: left;
}

#main .button {
    display: block;
    color: #5494AF;
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
    height: 24px;
    text-decoration: none;
    margin-top: 0.5em;
}

#main .button:hover {
    text-decoration: underline;
}

#main .button.add {
    padding-left: 34px;
    background: url("../../px/default/snowish/24x24/actions/gtk-add.png") transparent no-repeat 10px center;
}

#main .button.delete {
    padding-left: 34px;
    background: url("../../px/default/snowish/24x24/actions/stock_stop.png") transparent no-repeat 10px center;
}

#main fieldset div.subfieldset {
    border-left: 3px solid #DDDDDD;
    float: left;
    margin-bottom: 14px;
    margin-top: -14px;
    padding-left: 10px;
    width: 100%;
}

/** Balance */
#main div.balance-due, #main div.balance-name, #main div.balance-payed, #main div.balance-bar, #main div.summary-name, #main div.summary-payed-amount, #main div.summary-owes-amount {
    height: 2em;
}

#main div.balance-due, #main div.balance-payed, #main div.summary-payed-amount, #main div.summary-owes-amount {
    width: 40%;
}

#main div.summary-name {
    width: 20%;
    margin-bottom: 0.5em;
    float: left;
}

#main div.summary-payed-amount {
    float: right;
}

#main div.summary-owes-amount {
    float: left;
}

#main div.balance-bar.gradient-100 {
    width: 100%;
    background-color: rgb(  0,208,  0);
    background-color: rgb(  0,165,  0);
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, rgb(  0,208,  0)),
        color-stop(1, rgb(  0,165,  0))
    );
    background: -moz-linear-gradient(
        center top,
        rgb(  0,208,  0) 0%,
        rgb(  0,165,  0) 100%
    );
}

#main div.balance-bar.gradient-90 {
    width: 90%;
    background-color: rgb( 26,197,  7);
    background-color: rgb( 26,151,  0);
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, rgb( 26,197,  7)),
        color-stop(1, rgb( 26,151,  0))
    );
    background: -moz-linear-gradient(
        center top,
        rgb( 26,197,  7) 0%,
        rgb( 26,151,  0) 100%
    );
}

#main div.balance-bar.gradient-80 {
    width: 80%;
    background-color: rgb( 52,186, 13);
    background-color: rgb( 52,138,  0);
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, rgb( 52,186, 13)),
        color-stop(1, rgb( 52,138,  0))
    );
    background: -moz-linear-gradient(
        center top,
        rgb( 52,186, 13) 0%,
        rgb( 52,138,  0) 100%
    );
}

#main div.balance-bar.gradient-70 {
    width: 70%;
    background-color: rgb( 78,175, 20);
    background-color: rgb( 78,124,  0);
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, rgb( 78,175, 20)),
        color-stop(1, rgb( 78,124,  0))
    );
    background: -moz-linear-gradient(
        center top,
        rgb( 78,175, 20) 0%,
        rgb( 78,124,  0) 100%
    );
}

#main div.balance-bar.gradient-60 {
    width: 60%;
    background-color: rgb(104,164, 26);
    background-color: rgb(104,110,  0);
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, rgb(104,164, 26)),
        color-stop(1, rgb(104,110,  0))
    );
    background: -moz-linear-gradient(
        center top,
        rgb(104,164, 26) 0%,
        rgb(104,110,  0) 100%
    );
}

#main div.balance-bar.gradient-50 {
    width: 50%;
    background-color: rgb(130,153, 33);
    background-color: rgb(130, 97,  0);
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, rgb(130,153, 33)),
        color-stop(1, rgb(130, 97,  0))
    );
    background: -moz-linear-gradient(
        center top,
        rgb(130,153, 33) 0%,
        rgb(130, 97,  0) 100%
    );
}

#main div.balance-bar.gradient-40 {
    width: 40%;
    background-color: rgb(155,142, 39);
    background-color: rgb(155, 83,  0);
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, rgb(155,142, 39)),
        color-stop(1, rgb(155, 83,  0))
    );
    background: -moz-linear-gradient(
        center top,
        rgb(155,142, 39) 0%,
        rgb(155, 83,  0) 100%
    );
}

#main div.balance-bar.gradient-30 {
    width: 30%;
    background-color: rgb(180,131, 46);
    background-color: rgb(180, 69,  0);
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, rgb(180,131, 46)),
        color-stop(1, rgb(180, 69,  0))
    );
    background: -moz-linear-gradient(
        center top,
        rgb(180,131, 46) 0%,
        rgb(180, 69,  0) 100%
    );
}

#main div.balance-bar.gradient-20 {
    width: 20%;
    background-color: rgb(205,120, 52);
    background-color: rgb(205, 55,  0);
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, rgb(205,120, 52)),
        color-stop(1, rgb(205, 55,  0))
    );
    background: -moz-linear-gradient(
        center top,
        rgb(205,120, 52) 0%,
        rgb(205, 55,  0) 100%
    );
}

#main div.balance-bar.gradient-10 {
    width: 10%;
    background-color: rgb(230,109, 59);
    background-color: rgb(230, 42,  0);
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, rgb(230,109, 59)),
        color-stop(1, rgb(230, 42,  0))
    );
    background: -moz-linear-gradient(
        center top,
        rgb(230,109, 59) 0%,
        rgb(230, 42,  0) 100%
    );
}

#main div.balance-bar.gradient-0 {
    width: 2em;
    background-color: rgb(255, 98, 65);
    background-color: rgb(255, 28,  0);
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, rgb(255, 98, 65)),
        color-stop(1, rgb(255, 28,  0))
    );
    background: -moz-linear-gradient(
        center top,
        rgb(255, 98, 65) 0%,
        rgb(255, 28,  0) 100%
    );
}

#main div.balance-amount, #main div.balance-name,#main div.summary-amount, #main div.summary-name {
    line-height: 2em;
}

#main div.balance-bar, #main h4.balance-payed, #main h4.balance-due {
  -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  line-height: 2em;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  text-align: center;
  overflow: visible;
}

#main h4.summary-owes, #main h4.summary-payed {
  text-align: center;
}

#main div.balance-due {
    float: left;
}

#main div.balance-due div.balance-bar, #main h4.balance-due {
    background-color: #FF1B00;
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, rgb(255,98,65)),
        color-stop(1, rgb(255,28,0))
    );
    background: -moz-linear-gradient(
        center top,
        rgb(255,98,65) 0%,
        rgb(255,28,0) 100%
    );
    float: right;
}

#main div.balance-due div.balance-amount, #main div.summary-owes-amount div.balance-bar {
    float: right;
}

#main div.balance-name, #main div.summary-name {
    width: 20%;
    margin: auto;
    margin-bottom: 0.5em;
    text-align: center;
}

#main div.balance-payed {
    float: right;
}

#main div.balance-payed div.balance-bar, #main h4.balance-payed {
    background-color: #00A400;
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, rgb(0,208,0)),
        color-stop(1, rgb(0,165,0))
    );
    background: -moz-linear-gradient(
        center top,
        rgb(0,208,0) 0%,
        rgb(0,165,0) 100%
    );
    float: left;
}

#main div.balance-payed div.balance-amount {
    float: left;
}

#main h4.balance-payed, #main h4.balance-due, #main h4.summary-payed, #main h4.summary-owes {
    width: 40%;
    display: block;
    margin-bottom: 1em;
}

#main h4.balance-payed, #main h4.summary-payed {
    float: right;
}

#main h4.balance-due, #main h4.summary-owes {
    float: left;
}

div.clear {
    clear: both;
}

#main div.site-presentation {
	/* border: 1px solid #ddd; */
    margin: 1em;
    font-size: 120%;
    min-height: 200px;
}

#main div.site-presentation.img-right p {
    border-right: 3px solid #ddd;
    margin-right: 200px;
    padding: 0.5em;
}

#main div.site-presentation.img-left p {
    border-left: 3px solid #ddd;
    margin-left: 200px;
    padding: 0.5em;
}

#main div.site-presentation.img-right img {
    float: right;
}

#main div.site-presentation.img-left img {
    float: left;
}

#main span.inter-input {
    float: left;
    line-height: 2em;
    margin: 0 10px 0 0;
}

#main span.invited-user {
    float: left;
    display: block;
    width: 24px;
    height: 24px;
    background: url("../../px/default/snowish/24x24/actions/mail_new.png") transparent no-repeat center center;
}
